<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* img{
  max-width:180px;
} */
        
        input[type='file'] {
            color: transparent;
        }

        .editable{ background:#EAEAEA}
    </style>

</head>

<body>

    <div class="container">
        <br>
        <p class="text-center">Dinner App </p>
        <hr>

        <div class="card bg-light">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Upload Dinner
    </button>
        </div>
    <a href="{{url_for('favourites')}}"  >
    <button type="button" class="btn btn-primary" >
        Favourite Dinners
    </button>
    <a href="{{url_for('top_dinners')}}"  >
        <button type="button" class="btn btn-primary" >
            Top Dinners
        </button>
    </a>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload New Dinner</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" id="image_upload">
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Image</label>
                            <div class="col-sm-10">
                                <input type="file" name="image" required="required" accept="image/*" id="image" onchange="readURL(this);">
                            </div>
                        </div>
                        <!-- <img id="previewimage" src="" alt="your image" /> -->
                        <!-- <input type="text" name="name"  id = "name"> -->
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Dinner Name</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="name" required="required" type="text" placeholder="Dinner Name" name="name">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" type="submit" id="uploadDinner" class="btn btn-primary" onclick="uploadImage()" data-dismiss="modal">Upload Dinner</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="recipeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="recipeModalLabel">Recipe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="recipeBody">
                    Hello world! this is some text
                    this is the next line
                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button"  id="editRecipe" class="btn btn-primary" onclick="editRecipe()" >Edit Recipe</button>
                    </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card-columns" id="d">

        </div>
    </div>
  </div>
  <!-- card.// -->

</div>
<!--container end.//-->

    <script language="javascript">
        $("#image_upload").submit(function(event) {

            /* stop form from submitting normally */
            event.preventDefault();
            uploadImage();
        })
        var imageData;
        $(document).ready(function() {
            getDinners();
            $("#previewimage").hide();
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#image')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
                $("#previewimage").show();

            }
        }

        function getDinners() {
            $.ajax({
                url: "/allimages",
                context: document.body,
                success: function(result, status) {
                    imageData = result['results'];
                    var dinnerTable = "";
                    for (i = 0; i < imageData.length; i++) {
                        dinnerTable = dinnerTable + "<div class='card'>"
                        dinnerTable = dinnerTable + "<img class='card-img-top' src='http://"+imageData[i].image_host+"" + imageData[i].image_path + "' alt='Card image cap'>"
                        dinnerTable = dinnerTable + "<div class='card-body' data-image-id='"+imageData[i].image_id+"'><h5 class='card-title'>" + imageData[i].name_tag + "</h5><button type='button' class='edit' class='btn btn-default btn-sm'><span class='glyphicon glyphicon-pencil'></span> Edit </button>"
                        dinnerTable = dinnerTable + "<button onclick='add_favourite(this.id)'  id='"+imageData[i].image_id+"' class='btn btn-primary'>Favourite</button>"
                        dinnerTable = dinnerTable + "<button onclick='removeDinner(this.id)'  id='"+imageData[i].image_id+"' class='btn btn-primary'>Remove Dinner</button>"
                        dinnerTable = dinnerTable + "<button onclick='show_recipe(this.id)'  id='"+imageData[i].image_id+"' class='btn btn-primary' data-toggle='modal' data-target='#recipeModal'>Recipe</button></div></div>"
                    }
                    $("#d").html(dinnerTable);
                }
            });
        }

        function uploadImage() {
            var myFormData = new FormData();
            myFormData.append('image', image.files[0]);
            myFormData.append('name', $("#name").val());

            $.ajax({
                url: '/upload',
                type: 'POST',
                processData: false,
                contentType: false,
                dataType: 'json',
                data: myFormData,
                success :   function(data){

                $('#exampleModal').modal('hide');
                $('.modal-backdrop').hide();
                $('#d').fadeOut('fast');
                getDinners();
                $('#d').fadeIn("slow");
            },
            error : function(data , status)
            {
                console.log()
                console.log(data)
            }
            });
           

        }
        
        function editRecipe() {
            image_id = {'image_id' : $("#editRecipe").val() , "recipe" : $("#recipeBody").text()}
            if ($('#editRecipe').text() == "Save Changes") {
                $.ajax({
                url: '/updaterecipe',
                type: 'GET',
                dataType: 'json',
                data: image_id,
                }); 
                $('#editRecipe').text("Edit Recipe");
            }
            else {
                $('#editRecipe').text("Save Changes");

            }
            
            var $div=$('#recipeBody'), isEditable=$div.is('.editable');
            $('#recipeBody').prop('contenteditable',!isEditable).toggleClass('editable')
        }

        function show_recipe(elem) {
          $("#editRecipe").val(elem)
          image_id = {'image_id' : elem}
          $.ajax({
                url: '/getrecipe',
                type: 'GET',
                dataType: 'json',
                data: image_id,
                success: function(result, status) {
                    console.log(result)
                    $("#recipeBody").text(result["recipe"])
                }

            }); 
        
        
        }

        function add_favourite(elem){
          favourite_data = {'image_id' : elem}
          $.ajax({
                url: '/addfavourite',
                type: 'GET',
                dataType: 'json',
                data: favourite_data

            });
        }

        function removeDinner(elem){
            remove_data = {"image_id" : elem}
            if (confirm("Remove Image?")) {
                $.ajax({
                    url: '/removedinner',
                    type: 'GET',
                    dataType: 'json',
                    data: remove_data,
                    success :   function(data){
                    $('#d').fadeOut('fast');
                    getDinners();
                    $('#d').fadeIn("slow");
                    }

                });
            }

        }

        function updateNameTag(newName, imageId)
        {
            update_data = {"name_tag" :  newName,
                            "image_id" : imageId}
            $.ajax({
                url: '/updatename',
                type: 'GET',
                dataType: 'json',
                data: update_data,
                success : function(data){
                    
                }
            })
        }

        $(document).on('click','.edit',function(e){
            event.preventDefault();
            var nameTag = $(this).parent().find('h5').text();
            $(this).parent().find('h5').replaceWith('<input id="newName" value="'+nameTag+'"></input>')
            $(this).replaceWith("<button type='button' class='save' id='save' class='btn btn-default btn-sm'><span class='glyphicon glyphicon-pencil'></span> Save </button>")
            
        });

        $(document).on('click','.save',function(e){
            event.preventDefault();
            var imageId = $(this).parent().attr('data-image-id');
            var newName = $("#newName").val();
            $(this).replaceWith("<button type='button' class='edit' class='btn btn-default btn-sm'><span class='glyphicon glyphicon-pencil'></span> Edit </button>");
            updateNameTag(newName,imageId);
            $("#newName").replaceWith('<h5>'+newName+'</h5>')

            });
    </script>

</body>

</html>
